version: '3.5'
services:
  react_client:
    container_name: platinum-dev-react_client
    build: .
    image: react_client
    working_dir: /home/node/app
    labels:
      traefik.backend: "react-client"
      traefik.docker.network: "host"
      traefik.frontend.rule: "Host:platinum-dev.client.chas.school"
    volumes:
      - ./:/home/node/app
    ports:
      - 80:7771
