.headline {
	margin-bottom: 5%;
}

.parentbox {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.aboutbox {
	width: 40%;
  	padding: 20px;
	overflow: auto;
  	@media (max-width: 600px) {
      width: 100%;
    }
}

