.parentbox {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
}

.aboutbox {
	width: 40%;
  	padding: 20px;
  	overflow: auto;
  	@media (max-width: 430px) {
      width: 100%;
    }
}

