.create-question-view {
  width:100%;

  .center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .padding-tb-2 {
    padding-top:2em;
    padding-bottom:2em;
  }

  .min-height {
    min-height: 68vh;
  }

  .margin-l-1 {
    margin: 1em;
  }

  div .ui .basic .icon .bottom .attached .right .floated .right .labeled .button .pos-absolute-b-6-r-2{
    position: absolute;
    bottom:6em;
    right:2em
  }
  
}

@media only screen and (min-height:645px ) {
  .create-question-view {
    .min-height {
      min-height: 73vh;
    }
  }
}

@media only screen and (min-height:740px ) {
  .create-question-view {
    .min-height {
      min-height: 77vh;
    }
  }
}

@media only screen and (min-height:825px ) {
  .create-question-view {
    .min-height {
      min-height: 80vh;
    }
  }
}

@media only screen and (min-height: 1050px ) {
  .create-question-view {
    .min-height {
      min-height: 85vh;
    }
  }
}