

.center-content-column {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 0;

}
    
   
.header{
    text-align: center;
}

h3{
    
    text-align: center;
}

.center-content-row {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.center-content{
   
    width: 100px;
    margin: 10px;
    text-align:center;
    line-height: 75px;
    font-size: 20px;


}







