.center-content-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.min-height-100 {
    min-height: 80vh;
}

.font-color-grey{
    color: grey,
}

.font-size-16{
    font-size: 16px
}