.center-content-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.min-height-100 {
    min-height: 70vh;
}

.align-center {
    text-align: center;
}

.margin-t-2 {
    margin-top: 2em;
}

.margin-b-2 {
    margin-bottom: 2em;
}

.align-self-end {
    align-self: flex-end;
}

.align-self-start {
    align-self: flex-start;
}

.min-width-100 {
    min-width: 100%;
}

.min-width-300px {
    min-width: 300px;
}
.bold{
    font-weight: bold;
    font-size: 24px
}
.font-color-white{
    color: whitesmoke,
}
.frame {
    border: 2px solid rgb(240,255,255);
    border-radius: 4px;
    background-color: rgba(240,255,255,0.7)
}

.opacity{
    opacity: 0.9;
}

.max-width-670px {
    max-width: 670px;
}
.min-height-400{
    min-height: 400px;
}
.width-100 {
    width:100%
}

.flex {
    display: flex;
}