
.sign-in-view {
  .form-wrapper,.button__signin {
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 400px;
    @media (max-width: 430px) {
      width: 100%;
    }
  }
  a {
    color: whitesmoke
  }
}
  .page-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

  .sign__up-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
