.sign-up-view {
    .form-wrapper, .button__signup {
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 400px;
      @media (max-width: 430px) {
        width: 100%;
      }
    }
  }

.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  }

  .sign__in-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}