html {
  min-height: 100%;
  position: relative;
}
body {
  height: 100%;
  margin-bottom: 60px;
}
.navbar-inverse {
  border-radius: 0;
}

.footer {
    width: 100%;
    line-height: normal;
    height: 30px;
    position: absolute;  
    bottom: 0;
    text-align: center;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
    margin: 5em 0em 0em;
    padding: 5em 0em;
    }

@media only screen and (max-height: 640px) and (orientation: landscape) {
.footer {
    position: relative;
    }
    
    .center-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
    .footer {
        position: relative;
        }
        
        .center-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

.no-padding {
  padding: 0;
}
.columns-2 {
  column-count: 2;
}
