html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  margin-bottom: 60px;
}

.navbar-inverse {
  border-radius: 0;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  line-height: normal;
  min-height: 30px;
  position: relative;
  bottom: 0;
  text-align: center;
  border-top: 1px solid #E5E5E5;
  margin-top: 100px;
  padding: 2.5em 0em;
  background-color: #fff;

  .center-content-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

.no-padding {
  padding: 0;
}

.columns-2 {
  column-count: 2;
}

p {
  margin: 0;
}