.layout {
  > header.header {
    .navbar-brand {
      &:focus {
        color: #9d9d9d;
        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
    .navbar {
      border-radius: 0;
      a {
        transition: all 0.3s;
      }
    }
  }
  > main.container {
    padding: 0 15px;
    min-height:100vh;
    margin-bottom: -50px;
  }
  footer.footer {
    z-index: 1030;
    background-color: transparent;
    color: whitesmoke;
  }
  min-height:100%;
  height: 100vh;
}

#app {
  min-height:100%;
}
